:root {
  --color-bg: #235290;
  --color-bg-darker: #094a82;
  --color-bg-content: #94bdf8;
  --color-surface: #eff7fd;

  --color-text: #2A2A2A;

  --color-success: #4c9816;
  --color-mid: #edb837;
  --color-fail: #c8103b;

  --color-primary: #FFB703;
  --color-primary-accent: #FB8500;
  --color-secondary: #6fc630;
  --color-secondary-accent: #4c9816;
  --color-tertiary: #5abcec;
  --color-tertiary-accent: #3297c6;

  --grad-primary: linear-gradient(135deg, var(--color-primary), var(--color-primary-accent));
  --grad-secondary: linear-gradient(135deg, var(--color-secondary), var(--color-secondary-accent));
  --grad-tertiary: linear-gradient(135deg, var(--color-tertiary), var(--color-tertiary-accent));


  --grad-header: linear-gradient(135deg, var(--color-bg-darker), #053b68);
}
