:root {
  --color-bg: #235290; /* main bg */
  --color-bg-darker: #094a82; /* header, footer etc */
  --color-surface: #FFFFFF;     /* cards */

  --color-text: #2A2A2A;
  --color-text-soft: #6B6B6B;
  --color-border: #E8E2D9;

  --color-primary: #FFB703;     /* sunny yellow */
  --color-secondary: #8ECAE6;   /* sky blue */
  --color-accent: #FB8500;      /* orange pop */

  --color-success: #4c9816;     /* green */
  --color-mid: #FFD166;         /* soft yellow (neutral feedback) */
  --color-fail: #EF476F;        /* friendly red */
}
