@import "themes/default.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* theme variables */
:root {
  /* font */
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
}

/* layout */
html, body, #root {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

main {
  flex: 1;
  width: 80%;
  margin: 3em auto;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  font-weight: bold;
}
